{% extends 'base/main.html' %}
{% block content %} 



<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0"><i>{{count}}</i></nbsp> incomplete tasks now</h3>
    </div>
    
</div>

  







<hr>
<h1>My to do List  </h1>
<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>
<a href="{% url 'demo' %}">Connect to Google Calendar</a>
<table>
    <tr>
        <th>Items</th>
        <th> Item</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.Title}}</td>
        
        <td><a href="{% url 'task-update' task.id%}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id%}">Delete</a></td>
    </tr>
    {% empty %}  
    <h3>No items in list</h3>
    {% endfor %}

</table>
<a href="{% url 'task-create' %}">Add Task</a>

<div>

{% if request.user.is_authenticated %} 

<a href="{% url 'logout' %}">Logout</a>

{% else%} 
<a href="{% url 'login' %}">Login</a>
{% endif%}
</div>
{% endblock content %}